*{
    margin: 0;
    padding: 0;

}

.backg{
    background-color: #e9e9e9;

}
.container{
    background-color: #f8f9f9;
    width: 50%;
    padding: 165px 85px 165px 100px;
    box-sizing: border-box;
    height: 570px;

}
.container:after {
    clear: both;
    content: "";
    display: block;
}
.pr_bar{
    max-width: 500px;
    height: 3px;
    background-color:#d8d8d8;
    margin-top: 20px;
    margin-bottom: 40px;
}
.pr_bar:after {
    content: "";
    display: block;
    height: 100%;
    width: 75%;
    margin-right: 25%;
    background-color: #10c9c3;
}


.pr_bar2{
    max-width: 500px;
    height: 3px;
    background-color:#d8d8d8;
    margin-top: 20px;
    margin-bottom: 40px;
}
.pr_bar2:after {
    content: "";
    display: block;
    height: 100%;
    width: 90%;
    margin-right: 10%;
    background-color: #10c9c3;
}
.pr_bar3{
    max-width: 500px;
    height: 3px;
    background-color:#d8d8d8;
    margin-top: 20px;
    margin-bottom: 40px;
}
.pr_bar3:after {
    content: "";
    display: block;
    height: 100%;
    width: 65%;
    margin-right: 35%;
    background-color: #10c9c3;
}
.skills{
    color: #171717;
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.bar{
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
header{
    padding-top: 39px;
    margin-bottom: 169px;

}
.conteiner{
    max-width: 1170px;
    margin: auto;
}
.container:after{
    clear: both;
    content: "";
    display: block;
}

header .logo{
    float: left;
}

header nav{
    float: right;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 30px;

}
header nav ul li a{
    text-decoration: none;
    color: #191919;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
header nav ul li:hover a, header nav ul li.active a {
    color: #10c9c3;
}
.fl_right{
    float: right;
}
.we_are{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 45px;
}
.banner_inf p{
    font-size: 18px;
    color: #787878;
    margin-bottom: 40px;
}
.banner_inf .fl_right{
    width: 41%;
}
.contact_us{
    background-color: #10c9c3;
    height: 55px;
    max-width: 180px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 12px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    display: block;
}
.banner_inf{
    margin-bottom: 200px;
    height: 235px;
    box-sizing: border-box;
    
}
.about_us{
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 105px;
    text-align: center;

}
.about_us h2{
    font-size: 30px;
    color: #191919;
    margin-bottom: 45px;
}
.about_us p{
    width: 625px;
    margin: auto;
    color: #787878;
    font-size: 16px;
    margin-bottom: 40px;
}
.backg_bl{
    background-color: #10c9c3;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.like{
    width: 18%;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;



}
.icon{
    margin-right: 28px;
    display: inline-block;

}

.obj{
    width: 25%;
    height: 300px;
    display: inline-block;
    opacity: 0.6;
    background-color: #dddddd;

}
.obj1{
    width: 25%;
    height: 300px;
    display: inline-block;
    opacity: 0.6;
    background-color: #dddddd;

}
.obj:nth-child(2n+1){
    background-color: #838383;
}
.obj1:nth-child(2n){
    background-color: #838383;
}
.obj:hover{
    opacity: 1;
}
.obj1:hover{
    opacity: 1;
}
.text_gr{
    background-color: #f5f5f5;
    padding-bottom: 45px;
    padding-top: 45px;
    text-align: center;
}
.text_gr h3{
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
}
.text_w{
    padding-top: 100px;
    background-color: #ffffff;
    padding-bottom: 60px;
    text-align: center;
}
.text_w h2{
    font-size: 30px;
    color: #191919;
    margin-bottom: 40px;
}
.text_w p{
    font-size: 16px;
    color: #787878;
}
.video_box{
    padding: 0 98px 100px;
    height: 670px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.video{
    background-color: #e9e9e9;
    margin: auto;
    width: 1170px;
    height: 600px;
    position: relative;

}
.play{
    position: absolute;
    top:50%;
    left: 50%;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    background-color: #10c9c3;
    margin-left: -42.5px;
    margin-top: -42.5px;
    cursor: pointer;

}
.pictures{
    width: 18%;
    height: 135px;
    margin-right: 35px;
    margin-left: 35px;
    display: inline-block;
}
.pictures h4{
    margin-bottom: 20px;
    font-size: 12px;
    color: #191919;
}
.pictures p{
    font-size: 16px;
    color: #787878;
}

.conteiner3{
    padding: 185px 0 60px;
    background-color: #10c9c3;
    text-align: center;
    position: relative;

}
.conteiner3 p{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 38px;
}
.conteiner3 h4{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 108px;
}
.cont4{
    padding: 65px 60px;

    background-color: #ffffff;
}
.cont4 img{
    max-width: 100px;
    margin-right: 73px;
    margin-left: 73px;
}
.cont5{
    background-color: #f5f5f5;
    padding-top: 108px;
    padding-bottom: 100px;
    text-align: center;
}
.cont5 h3{
    font-size: 30px;
    color: #1d1d1d;
    margin-bottom: 44px;
}
.cont5 p{
    color: #787878;
    font-size: 16px;
    margin-bottom: 41px;
}
.placeholder{
    padding: 20px 22px 18px;
    background-color: #ffffff;
    color: #787878;
    border: none;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 30px;
}
.button{
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    height: 55px;
    color: white;
    font-size: 12px;
    background-color: #10c9c3;
    margin: auto;
    border: none;
    text-transform: uppercase;
}
footer{
    padding: 97px;
    background-color: #141414;
}
footer h4{
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
    display: block;
}
footer p{
    font-size: 15px;
    color: white;
    display: block;
}
footer ul{
    float: right;
    color: #bcbcbc;
    font-size: 15px;
    list-style-type: none;
    position: relative;
    top: -80px;
}
footer ul:after{
    display: block;
    clear: both;
    content: "";
}
.owl-dots .owl-dot span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: white;

}
.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 30px;
}
.owl-dots .owl-dot.active span{
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
}
.owl-dot{
    outline: none;
}
.ui-dialog {
    max-width: 750px !important;
    width: 100% !important;
    padding: 0;
}
.ui-dialog .ui-resizable-n{
    height: 0px;
}
.ui-dialog .ui-resizable-e {
    width: 0px;
    right: 0;
}
.ui-dialog .ui-resizable-s {
    height: 0px;
    bottom: 0;
}
.ui-dialog .ui-resizable-w {
    width: 0px;
    left: 0;
}
.ui-dialog .ui-dialog-titlebar{
    padding: 0;
    text-align: center;
}
.ui-widget-header {
    border: none;
    background: black;
    color: white;
    font-size: 24px;
    padding-top: 42px;
    padding-bottom: 42px;
}
.ui-widget.ui-widget-content {
    border: none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-left-radius: 0px;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0;
    background: #fbfbfb;
    overflow: auto;
}
.ui-dialog .ui-dialog-titlebar {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.email{
    height: 60px;
    max-width: 385px;
    width: 100%;
    margin-bottom: 40px;
    display: block;
    float: right;



}
.face123:before {
    content: "\f39e";
    color: white;
    font-size: 25px;

}
label{

    color: #363636;
    font-size: 22px;

}
.cont123:after{
    content: "";
    display: inline-block;
    clear: both;
}
#opener{
    background-color: #557bcd !important;
    position: fixed;
    top: 50px;
    right: 20px;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
}